@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Uozu's contact manager test app</h1>
    <p class="lead">Welcome.</p>
</div>

@Html.ActionLink("cause error", "CauseError", null, new { @class = "btn btn-default" })